/* Estilo para mensajes de éxito */
.success-message {
    color: green;
    font-weight: bold;
}

/* Estilo para mensajes de error */
.error-message {
    color: red;
    font-weight: bold;
}